Repository manoldonev/todo-app-ts-styled-components-graphql: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

feat: add zustand persist and immer middleware (#7)
  package-lock.json
  package.json
  src/store/middleware/immer.ts
  src/store/middleware/index.ts
  src/store/useStore.ts
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

refactor: replace todoitem delete overlay with visible button
  src/components/TodoList/TodoItem/TodoItem.tsx
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

refactor: replace todoitem delete overlay with visible button (#8)
  src/components/TodoList/TodoItem/TodoItem.tsx
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

feat: toggle input mode via keyboard hotkeys
  src/components/TodoList/TodoList.tsx
  src/components/TodoList/useTodoKeyboardShortcuts.ts
  src/hooks/useKeyboardShortcut.ts
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

refactor: rename
  src/components/TodoList/TodoList.tsx
  src/components/TodoList/useTodoHotkeys.ts
  src/hooks/index.ts
  src/hooks/useHotkeys.ts
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

feat: toggle input mode via keyboard hotkeys (#9)
  src/components/TodoList/TodoList.tsx
  src/components/TodoList/useTodoHotkeys.ts
  src/hooks/index.ts
  src/hooks/useHotkeys.ts
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

fix: keep query state when toggling input modes
  src/components/TodoList/InputBox/InputBox.tsx
  src/components/TodoList/useTodos.ts
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

fix: keep query state when toggling input modes (#10)
  src/components/TodoList/InputBox/InputBox.tsx
  src/components/TodoList/useTodos.ts
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/js/2.645b98f1.chunk.js
  static/js/2.645b98f1.chunk.js.LICENSE.txt
  static/js/2.645b98f1.chunk.js.map
  static/js/2.c4077fb3.chunk.js
  static/js/2.c4077fb3.chunk.js.map
  static/js/3.b02ed287.chunk.js
  static/js/3.b02ed287.chunk.js.map
  static/js/3.d042d21a.chunk.js
  static/js/3.d042d21a.chunk.js.map
  static/js/main.67b3be1c.chunk.js
  static/js/main.67b3be1c.chunk.js.map
  static/js/main.c5f1b7a3.chunk.js
  static/js/main.c5f1b7a3.chunk.js.map
  static/js/runtime-main.3dbbba11.js
  static/js/runtime-main.3dbbba11.js.map
  static/js/runtime-main.d884f95c.js
  static/js/runtime-main.d884f95c.js.map
Due: prettier --write

refactor: switch zustand/persist to session storage
  src/store/useStore.ts
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

refactor: switch zustand/persist to session storage (#11)
  src/store/useStore.ts
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/js/main.1b097307.chunk.js
  static/js/main.1b097307.chunk.js.map
  static/js/main.c5f1b7a3.chunk.js
  static/js/main.c5f1b7a3.chunk.js.map
Due: prettier --write

chore: switch fakeql schema
  .graphqlrc.yml
  src/generated/index.ts
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

chore: switch fakeql schema (#12)
  .graphqlrc.yml
  src/generated/index.ts
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/js/main.1b097307.chunk.js
  static/js/main.1b097307.chunk.js.map
  static/js/main.3bf5551e.chunk.js
  static/js/main.3bf5551e.chunk.js.map
Due: prettier --write

chore: update readme
  README.md
Due: none

Path conditions:
  prettier --write: (any of: *.{html,css}) or (any of: *.{ts,tsx})
  npm run lint:fix: any of: *.{ts,tsx}
  npm run lint:css: any of: *.{ts,tsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  npm run test:related: any of: *.{ts,tsx}
