Repository manoldonev/todo-app-ts-styled-components-graphql: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  favicon.ico
  index.html
  logo192.png
  logo512.png
  manifest.json
  robots.txt
  static/css/main.c86e2893.chunk.css
  static/css/main.c86e2893.chunk.css.map
  static/js/2.6ff6d20a.chunk.js
  static/js/2.6ff6d20a.chunk.js.LICENSE.txt
  static/js/2.6ff6d20a.chunk.js.map
  static/js/3.0326ad23.chunk.js
  static/js/3.0326ad23.chunk.js.map
  static/js/main.15f2b346.chunk.js
  static/js/main.15f2b346.chunk.js.map
  static/js/runtime-main.887cf430.js
  static/js/runtime-main.887cf430.js.map
Due: prettier --write

chore: setup deployment
  .eslintrc.json
  package-lock.json
  package.json
  src/index.tsx
  src/reportWebVitals.ts
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

feat: css reset
  src/index.css
Due: prettier --write

chore: fix stylelint execution
  .stylelintrc
Due: none

feat: initial binding to graphql data
  .eslintignore
  .eslintrc.json
  .graphqlrc.yml
  .prettierignore
  .prettierrc
  graphql.schema.json
  package-lock.json
  package.json
  src/components/App.test.tsx
  src/components/App.tsx
  src/components/App/App.tsx
  src/components/App/index.ts
  src/components/App/queryClient.ts
  src/components/TodoList/Spinner/Spinner.tsx
  src/components/TodoList/Spinner/index.ts
  src/components/TodoList/TodoItem/TodoItem.tsx
  src/components/TodoList/TodoItem/index.ts
  src/components/TodoList/TodoItem/updateTodo.gql
  src/components/TodoList/TodoList.tsx
  src/components/TodoList/index.ts
  src/components/TodoList/todos.gql
  src/components/TodoList/useTodos.ts
  src/context/todo.tsx
  src/generated/index.ts
  src/index.css
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

feat: add header
  src/components/App/App.test.tsx
  src/components/TodoList/Header/Header.tsx
  src/components/TodoList/Header/index.ts
  src/components/TodoList/TodoList.tsx
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

feat: add footer
  src/components/TodoList/Actions/Actions.tsx
  src/components/TodoList/Actions/index.ts
  src/components/TodoList/Filter/Filter.tsx
  src/components/TodoList/Filter/index.ts
  src/components/TodoList/Footer/Footer.tsx
  src/components/TodoList/Footer/index.ts
  src/components/TodoList/Pagination/Pagination.tsx
  src/components/TodoList/Pagination/index.ts
  src/components/TodoList/TodoList.tsx
  src/components/TodoList/useTodos.ts
  src/context/todo.tsx
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

feat: add new item
  src/components/TodoList/Actions/Actions.tsx
  src/components/TodoList/InputBox/InputBox.tsx
  src/components/TodoList/InputBox/createTodo.gql
  src/components/TodoList/InputBox/index.ts
  src/components/TodoList/InputToggle/InputToggle.tsx
  src/components/TodoList/InputToggle/index.ts
  src/components/TodoList/Pagination/Pagination.tsx
  src/components/TodoList/SearchBox/SearchBox.tsx
  src/components/TodoList/SearchBox/index.ts
  src/components/TodoList/TodoList.tsx
  src/components/TodoList/todos.gql
  src/components/TodoList/useTodos.ts
  src/components/common/ImageButton/ImageButton.tsx
  src/components/common/ImageButton/index.ts
  src/context/todo.tsx
  src/generated/index.ts
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

chore: add git workflow
  .github/workflows/main.yml
  README.md
Due: none

feat: delete item
  src/components/TodoList/TodoItem/TodoItem.tsx
  src/components/TodoList/TodoItem/deleteTodo.gql
  src/generated/index.ts
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

chore: update gitignore
  .gitignore
Due: none

Updates
  asset-manifest.json
  index.html
  static/css/main.c86e2893.chunk.css
  static/css/main.c86e2893.chunk.css.map
  static/css/main.ec83d2c2.chunk.css
  static/css/main.ec83d2c2.chunk.css.map
  static/js/2.6ff6d20a.chunk.js
  static/js/2.6ff6d20a.chunk.js.map
  static/js/2.e9d56c81.chunk.js
  static/js/2.e9d56c81.chunk.js.LICENSE.txt
  static/js/2.e9d56c81.chunk.js.map
  static/js/3.0326ad23.chunk.js
  static/js/3.0326ad23.chunk.js.map
  static/js/3.06368fa7.chunk.js
  static/js/3.06368fa7.chunk.js.map
  static/js/main.15f2b346.chunk.js
  static/js/main.15f2b346.chunk.js.map
  static/js/main.e453c7ad.chunk.js
  static/js/main.e453c7ad.chunk.js.map
  static/js/runtime-main.887cf430.js
  static/js/runtime-main.887cf430.js.map
  static/js/runtime-main.991475da.js
  static/js/runtime-main.991475da.js.map
Due: prettier --write

fix: pagination accessibility
  src/components/TodoList/Pagination/Pagination.tsx
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/js/2.53107f61.chunk.js
  static/js/2.53107f61.chunk.js.LICENSE.txt
  static/js/2.53107f61.chunk.js.map
  static/js/2.e9d56c81.chunk.js
  static/js/2.e9d56c81.chunk.js.map
  static/js/3.06368fa7.chunk.js
  static/js/3.06368fa7.chunk.js.map
  static/js/3.d3e70961.chunk.js
  static/js/3.d3e70961.chunk.js.map
  static/js/main.b0d40f01.chunk.js
  static/js/main.b0d40f01.chunk.js.map
  static/js/main.e453c7ad.chunk.js
  static/js/main.e453c7ad.chunk.js.map
  static/js/runtime-main.991475da.js
  static/js/runtime-main.991475da.js.map
  static/js/runtime-main.f9d740fd.js
  static/js/runtime-main.f9d740fd.js.map
Due: prettier --write

Updates
  asset-manifest.json
  index.html
  static/js/main.03dc4cdd.chunk.js
  static/js/main.03dc4cdd.chunk.js.map
  static/js/main.b0d40f01.chunk.js
  static/js/main.b0d40f01.chunk.js.map
Due: prettier --write

Updates
  asset-manifest.json
  index.html
  static/js/2.53107f61.chunk.js
  static/js/2.53107f61.chunk.js.map
  static/js/2.ca6bdb04.chunk.js
  static/js/2.ca6bdb04.chunk.js.LICENSE.txt
  static/js/2.ca6bdb04.chunk.js.map
  static/js/main.03dc4cdd.chunk.js
  static/js/main.03dc4cdd.chunk.js.map
  static/js/main.0abdcce6.chunk.js
  static/js/main.0abdcce6.chunk.js.map
Due: prettier --write

Updates
  asset-manifest.json
  index.html
  static/js/main.0abdcce6.chunk.js
  static/js/main.0abdcce6.chunk.js.map
  static/js/main.d004fd28.chunk.js
  static/js/main.d004fd28.chunk.js.map
Due: prettier --write

Updates
  asset-manifest.json
  index.html
  static/js/main.c4b17d36.chunk.js
  static/js/main.c4b17d36.chunk.js.map
  static/js/main.d004fd28.chunk.js
  static/js/main.d004fd28.chunk.js.map
Due: prettier --write

fix: mobile-first improvements
  src/components/TodoList/Actions/Actions.tsx
  src/components/TodoList/Filter/Filter.tsx
  src/components/TodoList/Footer/Footer.tsx
  src/components/TodoList/InfoPanel/InfoPanel.tsx
  src/components/TodoList/InfoPanel/index.ts
  src/components/TodoList/InputBox/InputBox.tsx
  src/components/TodoList/Pagination/Pagination.tsx
  src/components/TodoList/TodoList.tsx
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

refactor: switch implementation to react-swipeable
  .stylelintrc
  package-lock.json
  package.json
  src/components/TodoList/TodoItem/SwipeToDelete.tsx
  src/components/TodoList/TodoItem/TodoItem.tsx
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

feat: swipe to delete todo items
  src/components/TodoList/TodoItem/SwipeToDelete.tsx
  src/components/TodoList/TodoItem/TodoItem.tsx
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

fix: background icon behavior on swipe
  src/components/TodoList/TodoItem/SwipeToDelete.tsx
  src/components/TodoList/TodoItem/TodoItem.tsx
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

fix: restore delete item with mouse pointer
  src/components/TodoList/TodoItem/SwipeToDelete.tsx
  src/components/TodoList/TodoItem/TodoItem.tsx
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

feat: swipe to delete todo items on mobile (#1)
  .stylelintrc
  package-lock.json
  package.json
  src/components/TodoList/TodoItem/SwipeToDelete.tsx
  src/components/TodoList/TodoItem/TodoItem.tsx
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/js/2.03b94126.chunk.js
  static/js/2.03b94126.chunk.js.LICENSE.txt
  static/js/2.03b94126.chunk.js.map
  static/js/2.ca6bdb04.chunk.js
  static/js/2.ca6bdb04.chunk.js.map
  static/js/main.29d41e27.chunk.js
  static/js/main.29d41e27.chunk.js.map
  static/js/main.c4b17d36.chunk.js
  static/js/main.c4b17d36.chunk.js.map
Due: prettier --write

Updates
  asset-manifest.json
  index.html
  static/js/2.03b94126.chunk.js
  static/js/2.03b94126.chunk.js.map
  static/js/2.c2f1d199.chunk.js
  static/js/2.c2f1d199.chunk.js.LICENSE.txt
  static/js/2.c2f1d199.chunk.js.map
  static/js/main.29d41e27.chunk.js
  static/js/main.29d41e27.chunk.js.map
  static/js/main.c1febe85.chunk.js
  static/js/main.c1febe85.chunk.js.map
Due: prettier --write

Updates
  asset-manifest.json
  index.html
  static/js/2.c2f1d199.chunk.js
  static/js/2.c2f1d199.chunk.js.map
  static/js/2.c4077fb3.chunk.js
  static/js/2.c4077fb3.chunk.js.LICENSE.txt
  static/js/2.c4077fb3.chunk.js.map
  static/js/3.b02ed287.chunk.js
  static/js/3.b02ed287.chunk.js.map
  static/js/3.d3e70961.chunk.js
  static/js/3.d3e70961.chunk.js.map
  static/js/main.67b3be1c.chunk.js
  static/js/main.67b3be1c.chunk.js.map
  static/js/main.c1febe85.chunk.js
  static/js/main.c1febe85.chunk.js.map
  static/js/runtime-main.d884f95c.js
  static/js/runtime-main.d884f95c.js.map
  static/js/runtime-main.f9d740fd.js
  static/js/runtime-main.f9d740fd.js.map
Due: prettier --write

fix: no mouse overlay on touch screens
  package-lock.json
  package.json
  src/components/TodoList/TodoItem/TodoItem.tsx
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

refactor: switch state management to zustand
  package-lock.json
  package.json
  src/components/App/App.tsx
  src/components/TodoList/Actions/Actions.tsx
  src/components/TodoList/Filter/Filter.tsx
  src/components/TodoList/InfoPanel/InfoPanel.tsx
  src/components/TodoList/InputBox/InputBox.tsx
  src/components/TodoList/InputToggle/InputToggle.tsx
  src/components/TodoList/Pagination/Pagination.tsx
  src/components/TodoList/SearchBox/SearchBox.tsx
  src/components/TodoList/TodoItem/TodoItem.tsx
  src/components/TodoList/useTodos.ts
  src/context/todo.tsx
  src/store/index.ts
  src/store/useStore.ts
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

refactor: switch state management to zustand (#2)
  package-lock.json
  package.json
  src/components/App/App.tsx
  src/components/TodoList/Actions/Actions.tsx
  src/components/TodoList/Filter/Filter.tsx
  src/components/TodoList/InfoPanel/InfoPanel.tsx
  src/components/TodoList/InputBox/InputBox.tsx
  src/components/TodoList/InputToggle/InputToggle.tsx
  src/components/TodoList/Pagination/Pagination.tsx
  src/components/TodoList/SearchBox/SearchBox.tsx
  src/components/TodoList/TodoItem/TodoItem.tsx
  src/components/TodoList/useTodos.ts
  src/context/todo.tsx
  src/store/index.ts
  src/store/useStore.ts
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

fix: toggle todo item with mouse pointer
  src/components/TodoList/TodoItem/TodoItem.tsx
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

fix: toggle todo item with mouse pointer (#3)
  src/components/TodoList/TodoItem/TodoItem.tsx
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

refactor: use autogenerated selectors for zustand
  package-lock.json
  package.json
  src/components/TodoList/Actions/Actions.tsx
  src/components/TodoList/Filter/Filter.tsx
  src/components/TodoList/InfoPanel/InfoPanel.tsx
  src/components/TodoList/InputBox/InputBox.tsx
  src/components/TodoList/InputToggle/InputToggle.tsx
  src/components/TodoList/Pagination/Pagination.tsx
  src/components/TodoList/SearchBox/SearchBox.tsx
  src/components/TodoList/useTodos.ts
  src/store/useStore.ts
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

fix: todoitem whitespace
  src/components/TodoList/TodoItem/TodoItem.tsx
  src/components/TodoList/TodoList.tsx
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

refactor: use autogenerated selectors for zustand (#4)
  package-lock.json
  package.json
  src/components/TodoList/Actions/Actions.tsx
  src/components/TodoList/Filter/Filter.tsx
  src/components/TodoList/InfoPanel/InfoPanel.tsx
  src/components/TodoList/InputBox/InputBox.tsx
  src/components/TodoList/InputToggle/InputToggle.tsx
  src/components/TodoList/Pagination/Pagination.tsx
  src/components/TodoList/SearchBox/SearchBox.tsx
  src/components/TodoList/useTodos.ts
  src/store/useStore.ts
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

fix: todoitem whitespace (#5)
  src/components/TodoList/TodoItem/TodoItem.tsx
  src/components/TodoList/TodoList.tsx
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

feat: add search support
  src/components/TodoList/useTodos.ts
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

feat: add search support (#6)
  src/components/TodoList/useTodos.ts
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

feat: add zustand persist and immer middleware
  package-lock.json
  package.json
  src/store/middleware/immer.ts
  src/store/middleware/index.ts
  src/store/useStore.ts
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

refactor: remeda pipe
  package-lock.json
  package.json
  src/store/middleware/immer.ts
  src/store/middleware/index.ts
  src/store/useStore.ts
Due: prettier --write, npm run lint:fix, npm run lint:css, tsc-files --noEmit, npm run test:related

Path conditions:
  prettier --write: (any of: *.{html,css}) or (any of: *.{ts,tsx})
  npm run lint:fix: any of: *.{ts,tsx}
  npm run lint:css: any of: *.{ts,tsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  npm run test:related: any of: *.{ts,tsx}
